

body{
  width:100%;
  margin:0;
  font-size:2vw;
  font-family:Verdana,sans-serif;
  color:#333;
  background:linear-gradient(
    45deg,
    #fffedb 0%,
    #fcf9b9 25%,
    #fffedb 25%,
    #fcf9b9 50%,
    #fffedb 50%,
    #fcf9b9 75%,
    #fffedb 75%,
    #fcf9b9 100%);
  background-size:15vw 15vw;
}


/* -------------------------------------------------------------------------- */
.maxborder{
  border-bottom:0.1px dotted #333 
}

.dancebox{
  position:absolute;
  top:0;
  left:0;
}

.dancebox h1 {
  margin-left:5vw;
}
.dancebox p {
  margin-left:5vw;
}


.dancebox iframe{
  width:90vw;
  height:45vw;
  margin:0 5vw;
}

.dance1{
  margin:0 auto;
}

.dance1-2{
  line-height:2vw;
  margin-bottom:4vw;
}

.dance2-2{
  line-height:2vw;
  margin-bottom:4vw;
}

.dance3-2{
  line-height:2vw;
  margin-bottom:4vw;
}

.dance4-2{
  line-height:2vw;
  margin-bottom:4vw;
}


/* -------------------------------------------------------------------------- */

.kaisele-homepage {
  position:fixed;
  bottom:0;
  right:0;
  background:rgba(0, 0, 0, 0.7);
  width:100%;
  height:60px;
  transition:all .5s;
}

.kaisele-homepage:hover {
  opacity:0.7;
}

.kaisele-homepage a {
  text-decoration:none;
  color:#fff;
}

.kaisele-homepage h2 {
  font-size:16px;
  color:#fff;
  position:relative;
  margin:8px auto;
  padding:10px;
  text-align:center;
  font-weight:normal;
  letter-spacing:3px;
}